<% %>
<div class="row">
  <div class="col-md-3">
    <img class="img-responsive img-thumbnail" src=<%= @person['images'].first['url'] %>>

    <ul class="list-unstyled">
      <li> <strong>Fecha de Nacimiento:</strong> <%= @person['birth_date']%> </li>
      <li> <strong>Profesión:</strong> <%= @person['personal_info'][0]['profession']%> </li>
      <li> <strong>%Votos:</strong> <%= @person['professional_info'][0]['percentage_votes'] + ' (' + @person['professional_info'][0]['place'] + ')'%> </li>
    </ul>
    <ul class="list-inline list-unstyled">
      <% if !@person['links'][0].blank? %>
      <li>
        <a href="<%= @person['links'][0]['url'] %>" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <% end %>
      <% if !@person['links'][1].blank? %>
      <li>
        <a href="<%= @person['links'][1]['url'] %>" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
      <% end %>
      <% if !@person['links'][2].blank? %>
      <li>
        <a href="<%= @person['links'][2]['url'] %>" target="_blank"><i class="fa fa-globe"></i></a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <h2 class="page-header">
      <%= @vote_events.first.person_hash['name'] %>
    </h2>
    <ul class="list-unstyled">
      <% @vote_events.each do |vote_event| %>
        <% color_style = {"si" => "vote-yes", "no" => "vote-no", "pareo" => "vote-pair", "abstencion" => "vote-abs"} %>
        <li class="<%= color_style[vote_event.option] %>">
          <% option = {"si" => "fa-thumbs-up", "no" => "fa-thumbs-down", "pareo" => "fa-group", "abstencion" => "fa-minus-square"} %>
          <i class="fa <%= option[vote_event.option] %>"></i>
          <%= link_to vote_event.vote.subject, vote_event.vote %>
        </li>
      <%end%>
    </ul>
  </div>
</div>