<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Proyecto</th>
          <th>Votacion</th>
          <th>Si</th>
          <th>No</th>
          <th>Pareos</th>
          <th>Abst</th>
        </tr>
      </thead>
      <tbody>
        <% @last_votes.each do |v| %>
        <tr>
          <td>
            <%= v.date %>
          </td>
          <td>
            <a href="//congresoabierto.cl/proyectos/<%= v.bill %>" target="_blank"><%= v.bill %><i class="fa fa-external-link"></i></a>
          </td>
          <td>
            <%= link_to v do %>
              <%= v.subject %>
            <% end %>
          </td>
          <td><%= v.vote_events.select {|vote| vote['option'] == "si"}.count || 0 %></td>
          <td><%= v.vote_events.select {|vote| vote['option'] == "no"}.count || 0 %></td>
          <td><%= v.vote_events.select {|vote| vote['option'] == "pareo"}.count || 0 %></td>
          <td><%= v.vote_events.select {|vote| vote['option'] == "abstencion"}.count || 0 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    
  </div>
</div>