<p id="notice"><%= notice %></p>

<h2 class="page-header"><%= @vote.subject %> <small><%= @vote.bill %></small></h2>

<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li>
        <strong>Cámara :</strong> <%= @vote.organization %>
      </li>
      <li>
        <strong>Sesion</strong> <%= @vote.session %>
      </li>
      <li>
        <strong>Fecha</strong> <%= @vote.date %>
      </li>
      <li>
        <strong>Quorum</strong> <%= @vote.quorum %>
      </li>
      <li>
        <strong>Tipo</strong> <%= @vote.vote_type %>
      </li>
      <li>
        <strong>Etapa</strong> <%= @vote.stage %>
      </li>
      <li>
        <strong>Resultado</strong> <%= @vote.result %>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    
    <div class="row">
      <div class="col-md-6">
        <div id="donnut-<%= @vote.id %>" class="donnuts"></div>
        <script>
        $(document).ready(function(){
            Morris.Donut({
              element: 'donnut-<%= @vote.id %>',
              data: [
                {label: "Si", value: <%= @vote.vote_events.select {|vote| vote['option'] == "si"}.count || 0 %>},
                {label: "No", value: <%= @vote.vote_events.select {|vote| vote['option'] == "no"}.count || 0 %>},
                {label: "Pareos", value: <%= @vote.vote_events.select {|vote| vote['option'] == "pareo"}.count || 0 %>}
              ],
              colors: ['green', 'red', '#CCC']
            });
        })
        </script>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Si</strong></td>
              <td><%= @vote.vote_events.select {|vote| vote['option'] == "si"}.count || 0 %></td>
            </tr>
            <tr>
              <td><strong>No</strong></td>
              <td><%= @vote.vote_events.select {|vote| vote['option'] == "no"}.count || 0 %></td>
            </tr>
            <tr>
              <td><strong>Pareos</strong></td>
              <td><%= @vote.vote_events.select {|vote| vote['option'] == "pareo"}.count || 0 %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div id="donnut-parties" class="donnuts"></div>
        <script>
        $(document).ready(function(){
            Morris.Donut({
              element: 'donnut-parties',
              data: [
                <% @vote.per_party.each do |name, vote| %>
                  <% next if vote.empty? %>
                  {
                    label: "<%= @parties[name] %>",
                    value: <%= vote.select {|vote| vote['option'] == "si"}.count %>
                  },
                <% end %>
              ]
            });
        })
        </script>

        <table class="table table-striped">
          <thead>
            <tr>
              <td>&nbsp;</td>
              <% @vote.per_party.each do |name, vote| %>
                <% next if vote.empty? %>
                <th><abbr title="<%= name %>"><%= @parties[name] %></abbr></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Si</strong></td>
              <% @vote.per_party.each do |name, vote| %>
                <% next if vote.empty? %>
                <td><%= vote.select {|vote| vote['option'] == "si"}.count %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>No</strong></td>
              <% @vote.per_party.each do |name, vote| %>
                <% next if vote.empty? %>
                <td><%= vote.select {|vote| vote['option'] == "no"}.count %></td>
              <% end %>
            </tr>
            <tr>
              <td><strong>Pareo</strong></td>
              <% @vote.per_party.each do |name, vote| %>
                <% next if vote.empty? %>
                <td><%= vote.select {|vote| vote['option'] == "pareo"}.count %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- por partido -->
    <div class="row">
      <div class="col-md-4">
        <% cnt = 0 %> 
        <% @per_party.each do |name, votes|%>
          <% next if votes.empty? %>
          <% yes = votes.select {|vote| vote['option'] == "si"} %>
          <% no = votes.select {|vote| vote['option'] == "no"} %>
          <% pairs = votes.select {|vote| vote['option'] == "pareo"} %>
          <% total = yes.count + no.count + pairs.count %>
          <% total_yes = yes.count * 100 / total %>
          <% total_no = no.count * 100 / total %>
          <% total_pairs = pairs.count * 100 / total %>
          
          <div id="donnut-<%= @parties[name] %>" class="donnuts"></div>
          <h4><%= name %></h4>

          <p>
            El <%= total_yes %>% votó a favor, un <%= total_no %>% rechazó y un <%= total_pairs %>% se pareo
          </p>

          <script>
          $(document).ready(function(){
              Morris.Donut({
                element: 'donnut-<%= @parties[name] %>',
                data: [
                  {label: "Si", value: <%= yes.count || 0 %>},
                  {label: "No", value: <%= no.count || 0 %>},
                  {label: "Pareos", value: <%= pairs.count || 0 %>}
                ],
                colors: ['green', 'red', '#ddd']
              });
          })
          </script>
          
          <% if cnt == 2 %>
            </div><div class="col-md-4">
            <% cnt = 0 %>
          <% else %>
            <% cnt = cnt + 1 %>
          <% end %>

        <% end %>
      </div>
    </div>
    <!-- eof por partido -->
    
    <% @per_party.each do |name, votes|%>
      <% next if votes.empty? %>
      <div class="row">
        <h3 class="party-name"><%= name %></h3>
        <div class="col-md-4">
          <h4 class="vote-option">SI</h4>
          <ul class="list-inline votes-yes">
            <% yes = votes.select {|vote| vote['option'] == "si"} %>
            <% yes.each do |vote| %>
              <li>
                <a href="/vote_events/?person_id=<%= vote.person_hash['id'] %> ">
                  <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="vote-option">NO</h4>
          <ul class="list-inline votes-yes">
            <% no = votes.select {|vote| vote['option'] == "no"} %>
            <% no.each do |vote| %>
              <li>
                <a href="/vote_events/?person_id=<%= vote.person_hash['id'] %> ">
                  <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
                </a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="vote-option">PAREO</h4>
          <ul class="list-inline votes-yes">
            <% pareo = votes.select {|vote| vote['option'] == "pareo"} %>
            <% pareo.each do |vote| %>
              <li>
                <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
              </li>
            <% end %>
          </ul>
        </div>
      </div>  
    <% end %>
  </div>
</div>

