<p id="notice"><%= notice %></p>

<h2 class="page-header"><%= @vote.subject %> <small><%= @vote.bill %></small></h2>

<table class="table">
  <thead></thead>
  <tbody>
    <tr>
      <th>Organization</th>
      <td><%= @vote.organization %></td>
    </tr>
    <tr>
      <th>Session</th>
      <td><%= @vote.session %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @vote.date %></td>
    </tr>
    <tr>
      <th>Quorum</th>
      <td><%= @vote.quorum %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @vote.vote_type %></td>
    </tr>
    <tr>
      <th>Stage</th>
      <td><%= @vote.stage %></td>
    </tr>
    <tr>
      <th>Result</th>
      <td><%= @vote.result %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-4">
    <ul class="list-inline votes-yes">
      <% @yes.each do |name, image| %>
        <li>
          <img width="30" height="30" src="<%= image %>" alt="<%= name %>" class="img-circle img-responsive" title="<%= name %>">
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-inline votes-no">
      <% @no.each do |name, image| %>
        <li>
          <img width="30" height="30" src="<%= image %>" alt="<%= name %>" class="img-circle img-responsive" title="<%= name %>">
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-inline votes-pair">
      <% @pair.each do |first, second| %>
          <li>
            <% first.each do |name, image| %>
                <img width="30" height="30" src="<%= image %>" alt="<%= name %>" class="img-circle img-responsive" title="<%= name %>">
            <% end %>
            <% second.each do |name, image| %>
                <img width="30" height="30" src="<%= image %>" alt="<%= name %>" class="img-circle img-responsive" title="<%= name %>">
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
