<p id="notice"><%= notice %></p>

<h2 class="page-header"><%= @vote.subject %> <small><%= @vote.bill %></small></h2>

<table class="table">
  <thead></thead>
  <tbody>
    <tr>
      <th>Organization</th>
      <td><%= @vote.organization %></td>
    </tr>
    <tr>
      <th>Session</th>
      <td><%= @vote.session %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td><%= @vote.date %></td>
    </tr>
    <tr>
      <th>Quorum</th>
      <td><%= @vote.quorum %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @vote.vote_type %></td>
    </tr>
    <tr>
      <th>Stage</th>
      <td><%= @vote.stage %></td>
    </tr>
    <tr>
      <th>Result</th>
      <td><%= @vote.result %></td>
    </tr>
  </tbody>
</table>

<% @per_party.each do |name, votes|%>
  <% next if votes.empty? %>
  <div class="row">
    <h3><%= name %></h3>
    <div class="col-md-4">
      <h4>SI</h4>
      <ul class="list-inline votes-yes">
        <% yes = votes.select {|vote| vote['option'] == "si"} %>
        <% yes.each do |vote| %>
          <li>
            <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>NO</h4>
      <ul class="list-inline votes-yes">
        <% no = votes.select {|vote| vote['option'] == "no"} %>
        <% no.each do |vote| %>
          <li>
            <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>PAREO</h4>
      <ul class="list-inline votes-yes">
        <% pareo = votes.select {|vote| vote['option'] == "pareo"} %>
        <% pareo.each do |vote| %>
          <li>
            <img width="30" height="30" src="<%= vote.person_hash['images'][0]['url'] %>" alt="<%= vote.person_hash['name'] %>" class="img-circle img-responsive" title="<%= vote.person_hash['name'] %>">
          </li>
        <% end %>
      </ul>
    </div>
  </div>  
<% end %>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
